<!DOCTYPE html>
<html lang="en">

<head>
  <title>Task Saver</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <style type="text/css">
  #readyToBe #eaten >h1,h2,h3,h4,h5,h6 {
  	    text-align: center!important;
  	}
  </style>
<!--   <script src="../js/view.js"></script> -->
<script type="text/javascript">
	$(() => {
  var $newItemInput = $("input.new-item");

  $(document).on("click", ".delete", deleteTodo);
  $(document).on("click", ".eat", toggleComplete);

  function deleteTodo(event) {
    event.stopPropagation();
    var id = $(this).data("id");
    $.ajax({
      method: "DELETE",
      url: "/api/todos/" + id
    }).done(getTodos);
  }

    function updateTodo(todo) {
    $.ajax({
      method: "PUT",
      url: "/api/todos",
      data: todo
    }).done(getTodos);
  }

  function toggleComplete(event) {
    var burger = $(this).parent().data("burger");
    console.log(burger)
    // todo.complete = !todo.complete;
    // updateTodo(todo);
  }
})

</script>
</head>

<body>
  <div class="container">
    {{{ body }}}
  </div>
</body>

</html>
